<html>
    <head>
        <title>My Blog App</title>
        <link href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.10/semantic.min.css" rel="stylesheet" type="text/css">
        <link href="/stylesheets/app.css" rel="stylesheet" type="text/css">
    </head>
    <body>
        <div class="ui fixed inverted menu">
            <div class="ui container">
                <div class="header item"><i class="code icon"></i>App Weekly Blog</div>
                <a href="/" class="item">Home Page</a>
                <a href="/blogs/new" class="item">New Post</a>
            </div>
        </div>
